<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Item</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="container">
    <h1>Add New Item</h1>

    <form action="#" th:action="@{/newname}" method="post">
        <table>
            <tr>
                <td><label for="name">Item Name:</label></td>
                <td><input type="text" id="name" name="name" required /></td>
            </tr>
            <tr>
                <td><label for="cost">Item Cost:</label></td>
                <td><input type="number" id="cost" name="cost" step="0.01" min="0" required /></td>
            </tr>
        </table>
        <input type="submit" value="Add Item" />
    </form>

    <a href="/cart">Back to Shopping Cart</a>
</div>
</body>
</html>
